button {
    background-color: #F4F4F9;
    width: 175px;
    border-radius: 100px ;
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    color: #2F4550;
    font-size: 2rem;

    img {
        border-radius: 100%;
    }
}