.logo {
    background-color: #F4F4F9;
    height: 100%;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
    border-radius: 0 0 15px 15px;
    margin-left: 5%;

    a {
        font-size: 4rem;
        color: #2F4550;
        
    }
}