.contact {
    align-self: center;
    display: flex;
    justify-content: space-around;
    width: 75%;
    background-color: #F4F4F9;
    border-radius: 75px;

    div{
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        width: 50%;

        p{
            font-size: 2rem;
            width: 75%;
            margin: 15px 0 15px 0;
        }

        .icon_list {
            flex-direction: row;
            align-self: center;

            i:hover{
                color: #F4F4F9;
                background-color: #2F4550;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width:40%;
        justify-content: space-around;

        .group_form{
            width: 100%;

            label {
                color: #2F4550;   
                font-size: 2rem;
            }
        
            input{
                height: 35px;
                border-radius: 15px;
                
            }

            textarea{
                border-radius: 15px;
            }
        }

        button{
            background-color: #5CADA9;
            color:#F4F4F9;
            i{
                color: #5CADA9;
                background-color: #2F4550;
            }
        }
        button:hover{
            background-color: #2F4550;
            color: #5CADA9;
        
            i {
                color: #2F4550;
                background-color: #5CADA9;
            }
        }

    

    }
}