.contact {
    align-self: center;
    display: flex;
    justify-content: space-around;
    width: 75%;
    background-color: #F4F4F9;
    border-radius: 75px;

    div{
        display: flex;
        flex-direction: column;
        padding: 5% 0 0 0;
        width: 50%;

        p{
            font-size: 2rem;
            width: 75%;
            margin: 15px 0 15px 0;
        }

        .icon_list {
            flex-direction: row;
            align-self: center;
        }
    }

    form {
        width:40%;
    }
}