header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: #2F4550;
    position: fixed;
    width: 100%;

    a {
        text-decoration: none;
        color: #F4F4F9;
        font-size: 2rem;

    }
}